[submodule "zsh/plugins/zsh-autosuggestions"]
	  path = zsh/plugins/zsh-autosuggestions
  url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "zsh/plugins/zsh-syntax-highlighting"]
	  path = zsh/plugins/zsh-syntax-highlighting
	  url = https://github.com/zsh-users/zsh-syntax-highlighting
  branch = master
[submodule "zsh/plugins/zsh-histdb"]
	  path = zsh/plugins/zsh-histdb
	  url = https://github.com/larkery/zsh-histdb
  branch = master

[submodule "asdf"]
    path = asdf
    url = https://github.com/asdf-vm/asdf.git
